<form class="flexcol {{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="100" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
            </h1>

            <div class="flex-container">

                {{!-- Personal --}}
                {{> "systems/pendragon6/templates/actors/partials/personal.hbs"}}

                {{!-- Scores --}}
                {{> "systems/pendragon6/templates/actors/partials/joust.hbs"}}
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="play"><i class="far fa-masks-theater"></i></a>
        <a class="item" data-tab="combat"><i class="far fa-swords"></i></a>
        <a class="item" data-tab="possessions"><i class="far fa-boxes-stacked"></i></a>
        <a class="item" data-tab="history"><i class="far fa-scroll-old"></i></a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Play Tab --}}
        {{> "systems/pendragon6/templates/actors/tabs/play-tab.hbs"}}

        {{!-- Combat Tab --}}
        {{> "systems/pendragon6/templates/actors/tabs/combat-tab.hbs"}}

        {{!-- Possessions Tab --}}
        {{> "systems/pendragon6/templates/actors/tabs/possessions-tab.hbs"}}

        {{!-- History Tab --}}
        {{> "systems/pendragon6/templates/actors/tabs/history-tab.hbs"}}
    </section>
</form>
