<ol class="move-armor pen-grid pen-container">
    <li>
        <span>{{localize "PENDRAGON.Movement"}}</span>
        <span>{{actor.system.derived.movement}}</span>
    </li>
    <li>
        <span>{{localize "PENDRAGON.Armor"}}</span>
        <span>{{actor.system.armor.total}}</span>
        <a class="armor armor-components"><i class="fas fa-caret-down"></i></a>
    </li>
</ol>