<div class="passive-glory pen-container pen-grid">
    {{#each actor.system.glory.passive}}
    <label>{{localize (concat "PENDRAGON." (capital @key))}}</label>
    <input type="number" name="system.glory.passive.{{@key}}.value" value="{{this.value}}" />
    {{/each}}
</div>