<div class="personal">
    {{#each actor.system.personal}}
    <div {{#ifEquals @key "distinctiveFeatures"}}class="features"{{/ifEquals}}>
        <label>{{localize (concat "PENDRAGON." (capital @key))}}</label>
        <input type="text" name="system.personal.{{@key}}.value" value="{{this.value}}" />
    </div>
    {{/each}}
</div>