<form class="flexcol {{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" height="100" width="100" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
            </h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="traits">Traits & Skills</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
            <div class="characteristics">
                {{#each data.system.characteristics as |characteristic key|}}
                <div class="resource">
                    <label for="system.characteristics.{{key}}.value">{{localize characteristic.short}}</label>
                    <input type="text" name="system.characteristics.{{key}}.value" value="{{characteristic.value}}"/>
                </div>
                {{/each}}
            </div>
            {{editor biographyHTML target="system.biography" button=true editable=editable engine="prosemirror"}}
        </div>

        {{!-- Traits Tab --}}
        <div class="tab description" data-group="primary" data-tab="traits">
            <div class="traits">
                {{#each data.system.traits}}
                <div class="trait-duals">
                    {{#each this}}
                        {{#if @first}}
                        <input type="checkbox" name="system.traits.{{@../index}}.{{@key}}.isChecked" {{#if this.isChecked}}checked{{/if}}/>
                        <div class="trait-label-cont justify-end">
                            <label class="trait rollable" data-label="{{localize this.label}}" data-value="{{this.value}}">{{localize this.label}}</label>
                        </div>
                        <input type="number" name="system.traits.{{@../index}}.{{@key}}.value" value="{{this.value}}" id="trait-input-{{@key}}" disabled/>
                        <button class="trait-plus" data-dual="{{@../key}}" data-trait="{{@key}}">+</button>
                        {{/if}}
                        {{#if @last}}
                        <button class="trait-plus" data-dual="{{@../key}}" data-trait="{{@key}}">+</button>
                        <input type="number" name="system.traits.{{@../index}}.{{@key}}.value" value="{{this.value}}" id="trait-input-{{@key}}" disabled/>
                        <div class="trait-label-cont justify-start">
                            <label class="trait rollable" data-label="{{localize this.label}}" data-value="{{this.value}}">{{localize this.label}}</label>                            
                        </div>
                        <input type="checkbox" name="system.traits.{{@../index}}.{{@key}}.isChecked" {{#if this.isChecked}}checked{{/if}}/>
                        {{/if}}
                    {{/each}}
                </div>
                {{/each}}
            </div>
        </div>
    </section>
</form>
