<form class="flexcol {{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" height="100" width="100" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
            </h1>
            <div class="personal">
                {{#each data.system.personal}}
                <div {{#ifEquals @key "distinctiveFeatures"}}id="features"{{/ifEquals}}>
                    <label>{{localize this.label}}</label>
                    <input type="text" name="system.personal.{{@key}}.value" value="{{this.value}}" />
                </div>
                {{/each}}
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="play">Play</a>
        <a class="item" data-tab="combat">Combat</a>
        <a class="item" data-tab="possessions">Possessions</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Play Tab --}}
        <div class="tab play" data-group="primary" data-tab="play">
            <div id="play-grid">
                <div class="flex-container">
                    <div id="traits" class="pen-container container-grid">
                        {{#each data.system.traits}}
                        {{#each this}}
                        {{#if @first}}
                        <input type="checkbox" name="system.traits.{{@../index}}.{{@key}}.isChecked" {{#if this.isChecked}}checked{{/if}}/>
                        <label class="trait rollable left" data-label="{{localize this.label}}" data-value="{{this.value}}">{{localize this.label}}</label>
                        <input type="number" name="system.traits.{{@../index}}.{{@key}}.value" value="{{this.value}}" id="trait-input-{{@key}}" disabled/>
                        <button class="trait-plus" data-dual="{{@../key}}" data-trait="{{@key}}">+</button>
                        {{/if}}
                        {{#if @last}}
                        <button class="trait-plus" data-dual="{{@../key}}" data-trait="{{@key}}">+</button>
                        <input type="number" name="system.traits.{{@../index}}.{{@key}}.value" value="{{this.value}}" id="trait-input-{{@key}}" disabled/>
                        <label class="trait rollable right" data-label="{{localize this.label}}" data-value="{{this.value}}">{{localize this.label}}</label>                            
                        <input type="checkbox" name="system.traits.{{@../index}}.{{@key}}.isChecked" {{#if this.isChecked}}checked{{/if}}/>
                        {{/if}}
                        {{/each}}
                        {{/each}}
                    </div>
                    <div id="passions" class="pen-container container-grid">
                        {{#each inventory.passion}}
                            <input class="item-checkbox" type="checkbox" data-item-id="{{this._id}}" {{#if this.system.isChecked}}checked{{/if}}/>
                            <img src="{{this.img}}" title="{{this.name}}"/>
                            <label>{{this.name}}{{#if this.system.target}} ({{this.system.target}}){{/if}}</label>
                            <input type="number" value="{{this.system.value}}"/>
                            <button class="item-edit" data-item-id="{{this._id}}">=</button>
                            <button class="item-delete" data-item-id="{{this._id}}">-</button>
                        {{/each}}
                        <button class="item-create" data-type="passion">+</button>
                    </div>
                </div>
                <div id="general-skills" class="skills pen-container container-grid" >
                    {{#each data.system.skills.general}}
                    <input type="checkbox" name="system.skills.general.{{@key}}.isChecked" {{#if this.isChecked}}checked{{/if}}/>
                    <label class="rollable" data-label="{{localize this.label}}" data-value="{{this.value}}">{{localize this.label}}</label>
                    <input type="number" name="system.skills.general.{{@key}}.value" value="{{this.value}}"/>
                    {{/each}}
                </div>
            </div>
        </div>

        {{!-- Combat Tab --}}
        <div class="tab combat" data-group="primary" data-tab="combat">
            <div class="flex-container">
                {{#each data.system.characteristics as |characteristic key|}}
                <div class="resource">
                    <label for="system.characteristics.{{key}}.value">{{localize characteristic.short}}</label>
                    <input type="number" name="system.characteristics.{{key}}.value" value="{{characteristic.value}}"/>
                </div>
                {{/each}}
            </div>
            <div class="flex-container">
                <div id="combat-skills" class="skills pen-container container-grid">
                    {{#each data.system.skills.combat}}
                    <input type="checkbox" name="system.skills.combat.{{@key}}.isChecked" {{#if this.isChecked}}checked{{/if}}/>
                    <label class="rollable" data-label="{{localize this.label}}" data-value="{{this.value}}">{{localize this.label}}</label>
                    <input type="number" name="system.skills.combat.{{@key}}.value" value="{{this.value}}"/>
                    {{/each}}
                </div>
                <div id="weapon-attacks" class="pen-container container-grid">
                    {{#each inventory.weapon}}
                    <img src="{{this.img}}" title="{{this.name}}"/>
                    <label>{{this.name}}</label>
                    <label>{{this.system.skill.value}}</label>
                    <label>{{this.system.formula.value}}</label>
                    <button class="item-edit" data-item-id="{{this._id}}">=</button>
                    <button class="item-delete" data-item-id="{{this._id}}">-</button>
                    {{/each}}
                    <button class="item-create" data-type="weapon">+</button>
                </div>
            </div>
        </div>

        {{!-- Possessions Tab --}}
        <div class="tab possessions" data-group="primary" data-tab="possessions">

        </div>
    </section>
</form>
