<form class="flexcol {{cssClass}}" autocomplete="off">
    {{log this}}
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
            </h1>

            <div class="flex-container">

                {{!-- Personal --}}
                <div id="personal">
                    {{#each actor.system.personal}}
                    <div {{#ifEquals @key "distinctiveFeatures"}}id="features"{{/ifEquals}}>
                        <label>{{localize (concat "PENDRAGON." (capital @key))}}</label>
                        <input type="text" name="system.personal.{{@key}}.value" value="{{this.value}}" />
                    </div>
                    {{/each}}
                </div>

                {{!-- Scores --}}
                <div id="joust">
                    <h3>{{localize "PENDRAGON.JoustScore"}}</h3>
                    <div class="flex-container">
                        <h4>{{localize "PENDRAGON.Wins"}}</h4>
                        <input type="number" name="system.joust.wins" value="{{actor.system.joust.wins}}"/>
                        <h4>{{localize "PENDRAGON.Loses"}}</h4>
                        <input type="number" name="system.joust.loses" value="{{actor.system.joust.loses}}"/>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="play">Play</a>
        <a class="item" data-tab="combat">Combat</a>
        <a class="item" data-tab="possessions">Possessions</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Play Tab --}}
        <div class="tab play" data-group="primary" data-tab="play">
            <div id="play-grid">
                <div class="flex-container">

                    {{!-- Traits --}}
                    <div id="traits" class="pen-container container-grid">
                        {{#each actor.system.traits}}
                        {{#each this}}
                        {{#if @first}}
                        <input type="checkbox" name="system.traits.{{@../index}}.{{@key}}.isChecked" {{checked this.isChecked}}/>
                        <label class="trait rollable left" data-label="{{localize this.label}}" data-value="{{this.value}}">
                            {{localize (concat "PENDRAGON." (capital @key))}}
                        </label>
                        <input type="number" name="system.traits.{{@../index}}.{{@key}}.value" value="{{this.value}}" id="trait-input-{{@key}}" disabled/>
                        <button class="trait-plus" data-dual="{{@../key}}" data-trait="{{@key}}">+</button>
                        {{/if}}
                        {{#if @last}}
                        <button class="trait-plus" data-dual="{{@../key}}" data-trait="{{@key}}">+</button>
                        <input type="number" name="system.traits.{{@../index}}.{{@key}}.value" value="{{this.value}}" id="trait-input-{{@key}}" disabled/>
                        <label class="trait rollable right" data-label="{{localize this.label}}" data-value="{{this.value}}">
                            {{localize (concat "PENDRAGON." (capital @key))}}
                        </label>                            
                        <input type="checkbox" name="system.traits.{{@../index}}.{{@key}}.isChecked" {{checked this.isChecked}}/>
                        {{/if}}
                        {{/each}}
                        {{/each}}
                    </div>

                    {{!-- Passions --}}
                    <div id="passions" class="pen-container container-grid">
                        {{#each inventory.passion}}
                            <input class="item-checkbox" type="checkbox" data-item-id="{{this._id}}" {{checked this.system.isChecked}}/>
                            <img src="{{this.img}}" title="{{this.name}}"/>
                            <label>{{this.name}}{{#if this.system.target}} ({{this.system.target}}){{/if}}</label>
                            <input type="number" value="{{this.system.value}}"/>
                            <button class="item-edit" data-item-id="{{this._id}}">=</button>
                            <button class="item-delete" data-item-id="{{this._id}}">-</button>
                        {{/each}}
                        <button class="item-create" data-type="passion">+</button>
                    </div>
                </div>

                {{!-- General Skills --}}
                <div id="general-skills" class="skills pen-container container-grid" >
                    {{#each actor.system.skills.general}}
                    <input type="checkbox" name="system.skills.general.{{@key}}.isChecked" {{checked this.isChecked}}/>
                    <label class="rollable" data-label="{{localize this.label}}" data-value="{{this.value}}">
                        {{localize (concat "PENDRAGON." (capital @key))}}
                    </label>
                    <input type="number" name="system.skills.general.{{@key}}.value" value="{{this.value}}"/>
                    {{/each}}
                </div>
            </div>
        </div>

        {{!-- Combat Tab --}}
        <div class="tab combat" data-group="primary" data-tab="combat">
            <div class="flex-container">

                {{!-- Characteristics --}}
                {{#each actor.system.characteristics}}
                <div class="resource">
                    <label for="system.characteristics.{{@key}}.value">
                        {{localize (concat "PENDRAGON." (capital @key) "Short")}}
                    </label>
                    <input type="number" name="system.characteristics.{{@key}}.value" value="{{this.value}}"/>
                </div>
                {{/each}}

                {{!-- Movement and Armor --}}
                <div class="flexcol">
                    <span>
                        {{localize "PENDRAGON.Movement"}} {{actor.system.derived.movement}}
                    </span>
                    <span>
                        {{localize "PENDRAGON.Armor"}} {{actor.system.armor.total}}
                        <a>
                            <i class="fas fa-caret-down"></i>
                        </a>
                    </span>
                </div>
            </div>
            <div class="flex-container">

                {{!-- Combat Skills --}}
                <div id="combat-skills" class="skills pen-container container-grid">
                    {{#each actor.system.skills.combat}}
                    <input type="checkbox" name="system.skills.combat.{{@key}}.isChecked" {{checked this.isChecked}}/>
                    <label class="rollable" data-label="{{localize this.label}}" data-value="{{this.value}}">
                        {{localize (concat "PENDRAGON." (capital @key))}}
                    </label>
                    <input type="number" name="system.skills.combat.{{@key}}.value" value="{{this.value}}"/>
                    {{/each}}
                </div>

                {{!-- Weapon Attacks --}}
                <div id="weapon-attacks" class="pen-container container-grid">
                    {{#each inventory.weapon}}
                    <img src="{{this.img}}" title="{{this.name}}"/>
                    <label>{{this.name}}</label>
                    <label>
                        {{#with (lookup ../actor.system.skills.combat system.skill)}}
                        {{value}}
                        {{/with}}
                    </label>
                    <label>{{this.system.formula}}</label>
                    <button class="item-edit" data-item-id="{{this._id}}">=</button>
                    <button class="item-delete" data-item-id="{{this._id}}">-</button>
                    {{/each}}
                    <button class="item-create" data-type="weapon">+</button>
                </div>

                {{!-- Wounds --}}
                <table id="wounds" class="pen-table pen-container">
                    <thead>
                        <tr>
                            <th>{{localize "PENDRAGON.DamageShort"}}</th>
                            <th>{{localize "PENDRAGON.Wound"}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each actor.system.wounds}}
                        <tr>
                            <td>
                                <input type="number" name="system.wounds.{{@key}}.damage" value="{{this.damage}}"/>
                            </td>
                            <td>
                                <input type="text" name="system.wounds.{{@key}}.description" value="{{this.description}}" />
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

        {{!-- Possessions Tab --}}
        <div class="tab possessions" data-group="primary" data-tab="possessions">

        </div>
    </section>
</form>
