.pendragon {
  /* Sheet Tabs */
  /* Items List */
}
.pendragon .window-content {
  height: 100%;
  padding: 5px;
  overflow-y: hidden;
}
.pendragon form {
  height: 100%;
}
.pendragon .sheet-header {
  flex: 0 0 100px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.pendragon .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}
.pendragon .sheet-header .header-fields {
  flex: 1;
  height: 100px;
}
.pendragon .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.pendragon .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.pendragon .resource {
  width: 10%;
  height: 40px;
  margin-top: 10px;
  float: left;
  text-align: center;
}
.pendragon .resource input {
  width: 50px;
  height: 28px;
}
.pendragon .tabs {
  flex: 0 0 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}
.pendragon .tabs .item {
  line-height: 40px;
  font-weight: bold;
}
.pendragon .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}
.pendragon .sheet-body {
  overflow: hidden;
}
.pendragon .sheet-body .tab {
  height: 100%;
  overflow-y: auto;
}
.pendragon .editor,
.pendragon .editor-content {
  height: 100%;
}
.pendragon .item-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}
.pendragon .item-list .item {
  min-height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
  align-items: stretch;
}
.pendragon .item-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
}
.pendragon .item-list .item-name {
  margin: 0;
}
.pendragon .item-list .item-controls {
  flex: 0 0 36px;
}
.pendragon .item-list .item-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  flex: 2;
  justify-content: flex-start;
}
.pendragon .item-list .item-button {
  line-height: 1;
  font-size: 11px;
  flex: none;
  width: auto;
}
.pendragon.sheet.actor {
  min-width: 560px;
  min-height: 420px;
}
.pendragon.sheet.item {
  min-width: 460px;
  min-height: 400px;
}
