<div class="tab history" data-group="primary" data-tab="history">
    {{!-- Events --}}
    <section>
        <h2 class="header">
            {{localize "PENDRAGON.Events"}}
            <button class="item-create" data-type="event"><i class="fas fa-plus"></i></button>
        </h2>
        {{> "systems/pendragon6/templates/actors/partials/events.hbs"}}
    </section>
    <footer class="flex-container">
        {{!-- Passive Glory --}}
        {{> "systems/pendragon6/templates/actors/partials/passive-glory.hbs"}}
        {{!-- Knightly Events --}}
        {{> "systems/pendragon6/templates/actors/partials/knightly-events.hbs"}}
    </footer>
</div>