<div class="tab play" data-group="primary" data-tab="play">
    <div class="play-grid">
        <div class="flex-container">

            {{!-- Traits --}}
            <section>
                <h2 class="header">
                    {{localize "PENDRAGON.Traits"}}
                </h2>
                {{> "systems/pendragon6/templates/actors/partials/traits.hbs"}}
            </section>

            {{!-- Passions --}}
            <section>
                <h2 class="header">
                    {{localize "PENDRAGON.Passions"}}
                    <button class="item-create" data-type="passion"><i class="fas fa-plus"></i></button>
                </h2>
                {{> "systems/pendragon6/templates/actors/partials/passions.hbs"}}
            </section>
        </div>

        {{!-- General Skills --}}
        <section>
            <h2 class="header">
                {{localize "PENDRAGON.GeneralSkills"}}
            </h2>
            {{> "systems/pendragon6/templates/actors/partials/skills.hbs" skillGroup="general"}}
        </section>
    </div>
</div>